*,
*::before,
*::after {
  box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Menu
/* 3. Header
/* 4. Quem somos
/* 5. Nossos planos
/* 6. Planos
/* 7. Vantagens
/* 8. Newsletter
/* 9. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
  --ff-primary: "Nunito", Helvetica, Arial, sans-serif;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

a,
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

body {
  background-color: #1e1041;
  font-family: var(--ff-primary);
}

/**********************************/
/* 2. Menu
/**********************************/

.menu-bg {
  background-color: #1e1041;
  border-radius: 3px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.menu__logo {
  margin: 10px;
  margin-left: -100px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  font-family: Arial;
  font-size: 22px;
  /* margin-right: -80px; */
}

.nav__link {
  padding: 20px 10px;
  margin-right: 50px;
}

img {
  width: 110px;
}
/**********************************/
/* 3. Header
/**********************************/

/**********************************/
/* 4. Quem somos
/**********************************/

/**********************************/
/* 6. Planos
/**********************************/

.section__titulo{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.planos {
  max-width: 1000px;
  margin: 0 auto;
}

.plano-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plano {
  width: 280px;
  margin: 0 25px;
}

.plano__titulo {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0 5px 0;
}
.plano__img {
    width: 290px;
    border-radius: 8px;
    margin-top: 40px;
    
}
/**********************************/
/* 7. Vantagens
/**********************************/

/**********************************/
/* 8. Newsletter
/**********************************/

/**********************************/
/* 9. Footer
/**********************************/
