*,
*::before,
*::after {
  box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Menu
/* 3. Header
/* 4. Quem somos
/* 5. Nossos planos
/* 6. Planos
/* 7. Vantagens
/* 8. Newsletter
/* 9. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
  --ff-primary: "Nunito", Helvetica, Arial, sans-serif;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

a,
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

body {
  background-color: #1e1041;
  font-family: var(--ff-primary);
}

/**********************************/
/* 2. Menu
/**********************************/

.menu-bg {
  background-color: #0c071b;
  border-radius: 3px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.menu__logo {
  margin: 10px;
  margin-left: -100px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  font-family: Arial;
  font-size: 22px;
  
}

.nav__link {
  padding: 20px 10px;
  margin-right: 50px;
}

.logo-marca {
  width: 110px;
  
}

/**********************************/
/* 3. Header
/**********************************/

.home-header{
  max-width: 100%;
  margin: 0 auto;
}

/**********************************/
/* 4. Quem somos
/**********************************/

/**********************************/
/* 6. Planos
/**********************************/

.section__titulo{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.planos {
  max-width: 1000px;
  margin: 0 auto;
}

.plano-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plano {
  width: 280px;
  margin: 0 25px;
}

.plano__titulo {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0 5px 0;
}
.plano__img {
    width: 290px;
    border-radius: 8px;
    margin-top: 40px;
    border: 3.8px solid #4b8833 ;

}

/*BOTÃO DE PLANOS*/

.plano-bot{
  margin-top: 10px;
  margin-left: 35px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #570d6d;
  background: #e3e6e2;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 19px;

}

.plano-bot:before {
  content: '';
  background: linear-gradient(45deg, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.plano-bot:active {
  color: #e3e6e2
}

.plano-bot:active:after {
  background: transparent;
}

.plano-bot:hover:before {
  opacity: 1;
}

.plano-bot:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e3e6e2;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes plano-bot {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/**********************************/
/* 7. Vantagens
/**********************************/

/**********************************/
/* 8. Newsletter
/**********************************/

/**********************************/
/* 9. Footer
/**********************************/
